<h1>Signup</h1>
<form style="display: flex; flex-direction: column" method="POST" action="/auth/signup">
    <label>Username:<input type="text" name="username"  <% if (typeof errorMessage !=='undefined' ) { %>
        value="" <% } %> /></label>
    <label>Password:<input type="password" name="password" required/></label>
    <button type="submit">Signup</button>
</form>
<% if (typeof errorMessage !=='undefined' ) { %>
    <p style="color: red">
        <%= errorMessage %>
    </p>
    <% } %>